services:
  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    stdin_open: true
    tty: true
  frontend:
    build:
      context: .
      dockerfile: ./Dockerfile.frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: unless-stopped
    stdin_open: true
    tty: true
